.parent-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 50px;
}

.intro-line p {
  font-size: 30px;
}

.calculator-div {
  width: fit-content;
}

.display-result {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 315px;
  height: 50px;
  padding-right: 5px;
  color: #fff;
  background-color: #858694;
}

.row {
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.first-row {
  border-top: none;
}

.btn {
  width: 80px;
  height: 50px;
  border: 1px solid #d7d7d7;
  background-color: #e0e0e0;
}

.row .btn:nth-last-child(1) {
  background-color: #f5913e;
}

.zero {
  width: 160px;
}
