.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
  padding: 5px 20px;
}

.heading {
  font-size: 50px;
  margin: 0;
  /* border: 1px solid red; */
}

.nav {
  display: flex;
  flex-direction: row;
}

.navLinks {
  padding: 0 10px;
  border-right: 1px solid black;
  font-size: 20px;
  text-decoration: none;
}

.navLinks:nth-last-child(1) {
  border: none;
}